<!-- Demo header-->
<section class="py-5 header text-center">
    <div class="container py-4">
        <header>
            <h1 class="display-4">Bootstrap masonry</h1>
            <p class="font-italic text-muted mb-1">Use Masonry layouts with Bootstrap 4 grid system, using imagesLoaded plugin to fix the page loading issue.</p>
            <p class="font-italic text-muted">Snippet by <a class="text-dark" href="https://bootstrapious.com/">
                <u>Bootstrapious</u></a>
            </p>
        </header>
    </div>
</section>


<section class="pb-5">
    <div class="container text-center">
        <!-- Masonry grid -->
        <div class="gallery-wrapper">
            <!-- Grid sizer -->
            <div class="grid-sizer col-lg-4 col-md-6"></div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="">
                <h2 class="h4">Masonry grid item</h2>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-2.png" alt="">
                <h2 class="h4">Masonry grid item</h2>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-3.png" alt="">
                <h2 class="h4">Masonry grid item</h2>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-4.png" alt="">
                <h2 class="h4">Masonry grid item</h2>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-5.png" alt="">
                <h2 class="h4">Masonry grid item</h2>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-6.png" alt="">
                <h2 class="h4">Masonry grid item</h2>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>


<!-- Resources-->
<footer class="p-4 bg-light d-flex align-items-center justify-content-center">
    <small class="mb-0 text-uppercase font-weight-bold mr-3">Resources: </small>
    <ul class="list-inline mb-0 d-inline-block">
        <li class="list-inline-item">
            <a class="text-muted font-italic" target="_blank" href="https://masonry.desandro.com/extras.html#bootstrap"><u>Masonry</u></a>
        </li>
        <li class="list-inline-item">
            <a class="text-muted font-italic" target="_blank" href="https://imagesloaded.desandro.com/"><u>imagesLoaded</u></a>
        </li>
    </ul>
</footer>
