<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCryptoMart</title>
    <link rel="stylesheet" href="Landingpage.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


  <body>
    <div class="grid">
      <div class="navbar">
        <ul>  
          <img src="assets/logo.png" width="300" height="60" />
          <% if(auth === true){ %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
       <% } %>
          <li><a>About</a></li>
          <li><a>NFT Section</a></li>
          <li><a>Home</a></li>
        </ul>
      </div>


    <!--   <div class="section">
        <p style="background-color: violet;">New NFT Collections</p>
      </div>
    </div> -->

    
<div class="hero-image">  
  <div class="hero-text">
    <h1>MyCryptoMart</h1>
    <p>World's Largest Metaverse Market</p>
  </div>
</div>

   <div class="nft">
   <div class="container">

      <div class="nft-container">
      <img src="assets/mekaverse1.jpeg">
      <h2>Mekaverse 1</h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      </div>

      <div class="nft-container">
      <img src="assets/mekaverse2.jpg">
       <h2>Mekaverse 2</h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      </div>

      <div class="nft-container">
      <img src="assets/mekaverse3.png">
       <h2>Mekaverse 3</h2>
       <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      </div>

      <div class="nft-container">
      <img src="assets/mekaverse4.jpeg">
       <h2>Mekaverse 4</h2>
       <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      </div>

      <div class="nft-container">
      <img src="assets/mekaverse5.jpg">
       <h2>Mekaverse 5</h2>
       <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      </div>

      <div class="nft-container">
      <img src="assets/mekaverse6.png">
       <h2>Mekaverse 6</h2>
       <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      </div>

    </div>
    </div>



    <footer>
        <div class="footer-content">
            <h3>MyCryptoMart</h3>
            <p>The largest database of blockchain gaming and crypto collectible markets.

                Track historical market sales data to build valuations of individual non-fungible tokens. Whether buying or selling NFT, compare similar assets and make sure you're getting a fair price! We track all NFT marketplaces on the Ethereum blockchain.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; MyCryptoMart 2022</p>
        </div>

    </footer>


  </body>
</html>
